.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 196, 0, 0.18);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #1c1f2b;
  color: rgb(254, 153, 0);
  ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-weight: bold;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: rgb(254, 153, 0);
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-component {
  padding: 20px;
  width: 40%;
}

.edit-appointment {
  text-decoration: none;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid rgb(254, 153, 0);
  color: rgb(254, 153, 0);
  cursor: pointer;
  background-color: #131921;
  font-weight: bold;
}

.delete-appointment {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid rgb(254, 153, 0);
  color: rgb(254, 153, 0);
  cursor: pointer;
  background-color: #131921;
  font-weight: bold;
}

.delete-appointment:hover {
  color: #131921;
  background-color: rgb(254, 153, 0);
}

.edit-appointment:hover {
  color: #131921;
  background-color: rgb(254, 153, 0);
}