.react-calendar {
    width: 100%;
    background-color: #131921;
    color: rgb(254, 153, 0);
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.react-calendar__navigation__label {
    background-color: rgb(254, 153, 0);
    color: #131921;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border: 3px solid rgb(254, 153, 0);
    border-radius: 20px;
    cursor: pointer;
    margin: 2px;
}

.react-calendar__navigation__label:hover {
    background-color: #131921;
    color: rgb(254, 153, 0);
    border: 3px solid rgb(254, 153, 0);
    cursor: pointer;
}

.react-calendar__navigation__arrow {
    background-color: rgb(254, 153, 0);
    color: #131921;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border: 3px solid rgb(254, 153, 0);
    border-radius: 15px;
    cursor: pointer;
    margin: 2px;
}

.react-calendar__navigation__arrow:hover {
    background-color: #131921;
    color: rgb(254, 153, 0);
    border: 3px solid rgb(254, 153, 0);
    cursor: pointer;
}

.react-calendar__month-view__weekdays {
    padding: 6px;
    margin: 4px;
}

.react-calendar__month-view__days {
    height: 550px;
}

.react-calendar__month-view__days__day {
    color: rgb(254, 153, 0);
    font-weight: bold;
    font-size: 17px;
    background-color: #1c1f2b;
    border: 2px solid #343435;
    display: grid;
    grid-template-rows: 25px;
    grid-auto-rows: 20px;
}

.openModalBtn {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

.openModalBtn:hover {
    color: rgb(254, 153, 0);
}