.view-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paginationBttns {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 30px 0px 20px 0px;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 2px solid rgb(254, 153, 0);
    color: rgb(254, 153, 0);
    cursor: pointer;
}

.paginationBttns a:hover {
    color: #131921;
    background-color: rgb(254, 153, 0);
}

.paginationActive a {
    color: #131921;
    background-color: rgb(254, 153, 0);
}


.paginationDisabled a {
    color: #131921;
    background-color: rgb(254, 153, 0);
}

.fa-search {
    width: 20%;
    color: rgb(254, 153, 0);
    font-size: 25px;
    padding-top: 20px;
    padding-left: 10px;
}

.search {
    padding: 20px;
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.search .search-input {
    border-radius: 10px;
}

.not-found-search {
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 450px;
}