.login {
  display: flex;
  justify-content: space-around;
}

.login-form {
  color: rgb(254, 153, 0);
  padding: 16px;
  background: #131921;
  border: 3px solid rgb(254, 153, 0);
  border-radius: 10px;
  text-align: center;
  margin-top: 136px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 3px solid rgb(254, 153, 0);
  box-sizing: border-box;
  justify-content: center;
  border-radius: inherit;
}

.btn-submit-login {
  background-color: rgb(254, 153, 0);
  color: #131921;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 45%;
  border-radius: 26px;
  font-weight: bold;
  border: 3px solid transparent;
}

.btn-submit-login:hover {
  opacity: 0.9;
  background-color: #131921;
  color: rgb(254, 153, 0);
  border: 3px solid rgb(254, 153, 0);
  transition: background-color 0.3s;
}